.headLayout {
    width: 100%;
    padding: 16px 32px;
    background-color: var(--white);
    box-shadow: 0px 2px 8px 0px #00000014;
    min-height: 72px;
    display: flex;
    align-items: center;

    h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: var(--darkpurple);
        margin: 0;
        font-family: 'Sora';
    }


    &.spaceBetween {
        justify-content: space-between;
    }
}