.inputBody {
    width: 100%;
    min-width: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;

    .input {
        width: 100%;
        height: 48px;
        border: 1px solid var(--grayBD);
        border-radius: 12px;
        outline: none;
        font-weight: 400;
        font-family: 'Lato';
        line-height: 24px;
        font-size: 16px;
        box-sizing: border-box;
        padding: 0 12px;
        color: var(--gray21);
        padding-right: 40px;
        cursor: pointer;

        &::placeholder {
            color: var(--gray9E);
        }
    }

    .error {
        border: 1px solid var(--danger)!important;
    }

    .label {
        display: block;
        font-weight: 600;
        font-family: 'Lato';
        font-size: 14px;
        line-height: 20px;
        color: var(--gray61);
        margin: 4px 0px;
        span {
            color: var(--danger);
        }
    }

    .inputSub {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        .icon {
            position: absolute;
            max-width: 16px;
            max-height: 16px;
            width: 16px;
            height: 16px;
            right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: var(--gray42);
        }

        .listSelect {
            width: 100%;
            position: absolute;
            top: 52px;
            background-color: var(--white);
            border-radius: 12px;
            box-shadow: 0px 1px 8px 0px #00000024;
            max-height: 0px;
            transition: all ease-in-out .2s;
            box-sizing: border-box;
            overflow: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 12px;               /* width of the entire scrollbar */
              }
              
              &::-webkit-scrollbar-track {
                background: var(--white);        /* color of the tracking area */
              }
              
              &::-webkit-scrollbar-thumb {
                background-color: var(--grayBD);    /* color of the scroll thumb */
                border-radius: 20px;       /* roundness of the scroll thumb */
                border: 3px solid var(--white);  /* creates padding around scroll thumb */
              }
            ul {
                width: 100%;
                background-color: var(--white);
                li {
                    padding: 8px 16px;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    font-family: 'Lato';
                    color: var(--gray61);
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(201, 201, 201, 0.1);
                    }
                }
            }
        }
    }

    .message {
        display: block;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Lato';
        color: var(--danger);
        margin: 4px 0;
    }
}