.headHome {
    width: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    min-height: 72px;

    h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: var(--darkpurple);
        margin: 0;
        font-family: 'Sora';
    }
}