.homeBody {
    width: 100%;
    display: flex;

    .homeLeft {
        width: 100%;
        flex-grow: 1;
        border-right: 1px solid var(--grayE0);
    }

    .homeAds {
        width: 285px;
    }
}