.sidebar {
    width: 304px;
    min-height: 304px;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0px 32px;
    border-right: 1px solid #E0E0E0;
    font-family: 'Lato';

    .logo {
        max-width: 153px;
        min-height: 32px;
        max-height: 32px;
    }

    .icon {
        max-width: 20px;
        min-width: 20px;
        max-height: 20px;
        min-height: 20px;
    }

    .buttonSide {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 12px 16px;
        border-radius: 12px;
        transition: all ease-in-out .4s;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: var(--gray42);

        &:hover {
            background-color: var(--darkpurple);
            color: var(--white);
            transition: all ease-in .4s;
            font-weight: 700;
        }

        &:hover:nth-child(2) {
            path:nth-child(2) {
                stroke: var(--white);
            }
        }

        &:hover:not(:nth-child(2)) {
            svg {
                fill: var(--white);
            }
        }

        &.active {
            background-color: var(--darkpurple);
            color: var(--white);
            font-weight: 700;
        }
    }

    .menuItems {
        display: flex;
        flex-direction: column;
        gap: 10px !important;
    }
}